<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cactii.mathdoku"
    android:versionCode="203"
    android:versionName="1.96 (dev version)" >

    <uses-sdk android:minSdkVersion="3" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/application_name" >
        <activity
            android:name="net.cactii.mathdoku.MainActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.cactii.mathdoku.OptionsActivity" />
        <activity android:name="net.cactii.mathdoku.GameFileList" />
    </application>

</manifest>